:root {
  --menu-btn-color: #2e2f42;
}

@media screen and (min-width: 480px) {
  .container {
    width: 426px;
  }

  .menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: none;
    border: none;
  }

  .close-btn.mob-close-btn {
    display: block;
    padding: 0 7px;
  }

  .menu-btn-icon {
    display: inline-block;
    fill: var(--menu-btn-color);
  }

  .main-nav {
    justify-content: space-between;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .container {
    width: 305px;
  }

  /* Header */

  .main-nav {
    justify-content: space-between;
  }

  .menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: none;
    border: none;
  }

  .menu-btn-icon {
    display: inline-block;
    fill: var(--menu-btn-color);
  }

  .mob-contacts-link.phone {
    font-size: 26px;
    line-height: 1.1;
  }

  .mob-soc-list {
    gap: 38px;
  }

  .close-btn.mob-close-btn {
    display: block;
    padding: 0 7px;
  }

  /* Customers */
  .customets-list {
    column-gap: 10px;
  }

  .customers-link {
    width: 130px;
  }

  /* Modal */
  .modal {
    width: 310px;
  }

  /* Filter */
  .filter-btn {
    font-size: 14px;
    line-height: 1.33;
    padding: 8px 12px;
  }
}
