@media screen and (min-width: 768px) {
  .container {
    width: 766px;
    outline: 1px solid tomato;
  }

  .menu-btn {
    display: none;
  }

  .menu {
    display: flex;
  }

  .contacts {
    display: flex;
  }
}
